/*--------------------------------*/
/* Custom Properties              */
/*--------------------------------*/


:root {
    /* Colors */
    --clr-red: 14 86% 42%;
    --clr-green: 159 69% 38%;
    --clr-black: 0 0% 0%;
    --clr-white: 0 0% 100%;
    --clr-rose50: 20 50% 98%;
    --clr-rose100: 13 31% 94%;
    --clr-rose300: 14 25% 72%;
    --clr-rose400: 7 20% 60%;
    --clr-rose500: 12 20% 44%;
    --clr-rose900: 14 65% 9%;

    /* Font Sizes */
    --fs-1: 3.5rem;
    --fs-2: 1.5rem;
    --fs-3: 1rem;
    --fs-4: .875rem;

    /* Font Weight */
    --fw-regular: 400;
    --fw-semi: 600;
    --fw-bold: 700;    

    /* Line Height */
    --lh-120: 120%;
    --lh-125: 125%;
    --lh-150: 150%;

    /* Spacing */
    --spc-1100: 5.5rem;
    --spc-500: 2.5rem;
    --spc-400: 2rem;
    --spc-300: 1.5rem;
    --spc-200: 1rem;
    --spc-150: .75rem;
    --spc-100: .5rem;
    --spc-: .25rem;
}

/*--------------------------------*/
/* Reset                          */
/*--------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3, h4, p, ul, ol {
    margin: 0
}

/* Set body                               */

body {
    font-family: 'Red Hat Text', 'sans-serif';
    font-size: 1rem;
    font-weight: var(--fw-regular);
    width: 100%;
    line-height: var(--lh-150);
    letter-spacing: 0px;
    min-height: 100%;
    min-width: 320px;
    background-color:  hsl(var(--clr-rose50));
    color: hsl(var(--clr-stone900));
    display: grid;
    grid-template-rows: 1fr, auto;
}

/* Image Settings                        */
img {
    display: block;
    max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*--------------------------------*/
/* Utility Classes                */
/*--------------------------------*/

/* Screen Reader Only Class */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Frontend Mentor classes */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.text-white {
    color: hsl(var(--clr-white))
}


/* Font Classes                   */



/* Color Classes                  */

/*--------------------------------*/
/* Styling                        */
/*--------------------------------*/
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px auto;
    gap: 1.5rem;
    margin-inline: auto;
    padding: 50px;
    max-width: 1200px;
}

.item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spc-100);
    grid-column: 1 / 2;
    grid-row: 2 / auto;
}

.cart-wrapper {
    grid-column: 2 / auto;
    grid-row: 2 / auto;
}

h1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: end;
}

.type {
    font-size: var(--fs-4);
    font-weight: var(--fw-regular);
}

.cart-header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: end;
}

.cart-wrapper img {
    margin-inline: auto;
}

.cart-header, .price {
    color: hsl(var(--clr-red))
}

.image {
    border-radius: 10px;
    border: 2px solid transparent;
}

/* Food Button Styling */

.food-btn {
    width: 70%;
    height: 3rem;
    margin-inline: auto;
    transform: translate(0, -50%);
    border-radius: 25px;
}

.food-btn:hover {
    border: 2px solid hsl(var(--clr-red));
    color: hsl(var(--clr-red));
}

.increment-btn, .decrement-btn {
    height: 25px;
    width: 25px;
}

.increment-btn {
    background-image: url("/product-list-with-cart-main/assets/images/icon-increment-quantity.svg");

}

.decrement-btn {
    background-image: url("/product-list-with-cart-main/assets/images/icon-decrement-quantity.svg");

}

/*--------------------------------*/
/* Styling for small screens      */
/*--------------------------------*/

@media (width < 850px) {
    .item-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: .25rem;
    }
}

@media (width < 618px) {
    body {
        padding: .25rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
        gap: .5rem
    }

    .item-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (width < 458px) {
    main {
        display: flex;
        flex-direction: column;

    }
}